@font-face {
    font-family: "VollkornRegular";
    src: url("../fonts/VollkornRegular/VollkornRegular.eot");
    src: url("../fonts/VollkornRegular/VollkornRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/VollkornRegular/VollkornRegular.woff") format("woff"),
    url("../fonts/VollkornRegular/VollkornRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
















