<header>
	<section id="head-page">
		<div class="discuss"><a href="#order" class="top-button top-popup">СДЕЛАТЬ ЗАКАЗ</a></div>
		<div class="top-line">
			<div class="contact-phone"><a href="tel:+380665849599" rel="nofollow">+38 (066) 584 95 99</a></div>
			<nav class="mnu hidden-sm hidden-xs">
				<ul>
					<li class="active"><a href="/">ГЛАВНАЯ</a></li>
					<li><a href="/" target="blank">УСЛУГИ</a></li>
					<li><a href="/delivery/" target="blank">ДОСТАВКА</a></li>
				</ul>
			</nav>
		</div>
		<div class="fixed-mnu hidden-lg hidden-md">
			<a href="#top" class="toggle-mnu"><span></span></a>      
			<nav class="hidden-mnu clearfix">
				<ul>
					<li class="active"><a href="/">ГЛАВНАЯ</a></li>
					<li><a href="/" target="blank">УСЛУГИ</a></li>
					<li><a href="/delivery/" target="blank">ДОСТАВКА</a></li>
				</ul>
			</nav>
		</div>
		
		<div class="logo"><a href="/"><img src="../img/logo.svg"><span class="logo-name"></span></a></div>
	</section>

</header>
