<div class="hidden">

	<div id="order">
		<h3 class="title-order">СДЕЛАТЬ ЗАКАЗ ВЫ МОЖЕТЕ:</h3>
		<p>ПО НОМЕРУ: <a href="tel:+380665849599" rel="nofollow">+38 (066) 584 95 99</a></p>
		<p>DIRECT ВКОНТАКТЕ: <a href="https://vk.com/fl.house" target="blank" rel="nofollow">vk.com/fl.house</a></p>
		<p>DIRECT INSTAGRAM: <a href="https://www.instagram.com/fl.house" target="blank" rel="nofollow">instagram.com/fl.house</a></p>
		<h3 class="social-network"><i class="fa fa-check" aria-hidden="true"></i> Viber, Telegram, WhatsApp</h3>
	</div>

</div>