<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

{% include head.html %}

<body>

  {% include header-page.html %}

  {{content}}

  <section id="instagram" class="container">
    <h3>НАШИ РАБОТЫ:</h3>
    <div id="instafeed" class="row popup"></div>
    <div class="pagination"><a href="https://www.instagram.com/fl.house/">БОЛЬШЕ ПРИМЕРОВ <i class="fas fa-angle-double-right"></i></a></div>
  </section>

  {% include footer.html %}

     <!--[if lt IE 9]>
  <script src="libs/html5shiv/es5-shim.min.js"></script>
  <script src="libs/html5shiv/html5shiv.min.js"></script>
  <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
  <script src="libs/respond/respond.min.js"></script>
<![endif]-->

<script src="/libs/jquery/jquery-2.1.3.min.js"></script>
<script defer src="/libs/font-awesome/svg-with-js/js/fontawesome-all.min.js"></script>
<script src="/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/libs/imagefill/jquery-imagefill.min.js"></script>
<script src="/libs/masonry/masonry.pkgd.min.js"></script>
<script src="/libs/plugins-scroll/plugins-scroll.min.js"></script>
<script src="/libs/modernizr/modernizr.min.js"></script>
<script src="/libs/respond/respond.min.js"></script>
<script src="/libs/PageScroll2id/PageScroll2id.min.js"></script> 
<script src="/libs/html5shiv/html5shiv.min.js"></script>
<script src="/libs/instafeed/instafeed.min.js"></script>
<script src="/js/common.js"></script> 

</body>

</html>
